<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <h1><%= title%></h1>
    <form action="<%= action%>", method="POST">
        <p>
            <label>Convênio:
                <input type="text" nome="plano" value="">
            </label>
        </p>
        <p>
            <label>Cobertura:
                <input type="checkbox" nome="cobertura" value="ambulatorial">Ambulatorial
                <input type="checkbox" nome="cobertura" value="hospitalar">Hospitalar
                <input type="checkbox" nome="cobertura" value="obstetrica">Obistetríca
                <input type="checkbox" nome="cobertura" value="odontologica">Odontológica
            </label>
        </p>
        <p>
            <label>Validade:
                <input type="date" nome="validade" value="">
            </label>
        </p>
        <a href="/">Cancelar</a> | <input type="submit" value="Cadastrar">
    </form>
</body>
</html>