<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <h1><%= title%></h1>
    <form action="<%%= action>" method="POST">
        <p>
            <label>Nome:
                <input type="text" nome="nome" value="">
            </label>
        </p>
        <p>
            <label>Endereço:
                <input type="text" nome="endereco" value="">
            </label>
        </p>
        <p>
            <label>Data de nasciento:
                <input type="date" nome="nasciento" value="">
            </label>
        </p>
        <p>
            <label>CRM:
                <input type="number" nome="crf" value="">
            </label>
        </p>
        <a href="/">Cancelar</a> | <input type="submit" value="Cadastrar">
    </form>
</body>
</html>