<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <h1><%= title%></h1>
    <p>Insira as informações abaixo para cadastro.</p>
    <form action="<%= action%>" method="POST">
        <p>
        <label>Nome:
            <input type="text" name="nome" value="">
        </label>
        </p>
        <p>
        <label>Data de nasciento:
            <input type="date" name="nasciento" value="">
        </label>
        </p>
        <p>
        <label>Telefone:
            <input type="number" name="telefone" value="">
        </label>
        </p>
        <p>
        <label>Endereço:
            <input type="text" name="endereco" value="">
        </label>
        </p>
        <p>
        <label>Senha:
            <input type="password" name="senha" value="">
        </label>
        </p>
        <p>
            <label>Plano de saúde:
                <select name="plano">
                    <option value="A">Plano A</option>
                    <option value="B">Plano B</option>
                    <option value="C">Plano C</option>
                    <option value="D">Plano D</option>
                </select>
            </label>
        </p>
        <p>
            <a href="/">Cancelar </a> | <input type="submit" value="Cadastrar">
        </p>
    </form>
</body>
</html>